import(cubature, stringi, matrixStats)
importFrom("stats", "D", "cov", "var", "weighted.mean", "cov.wt")
export(rn_mean_by_env, rn_vplas, rn_pi_decomp, rn_phi_decomp, rn_vgen, rn_gen_decomp, rn_gamma_env, rn_cs_gen, rn_vtot)
